.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer{
  width: 210px;
}

.is-mobile .main-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin: 0;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #673ab7;
  padding-top: 6px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.profile {
  text-align: right;
  cursor: pointer;
}

.profile-box {
  width: 200px;
  background: #fff;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  position: absolute;
  right: 12px;
  top: 40px;
  padding: 20px;
  z-index: 3;
}

.logout{
  transform: rotate(270deg);
  float: right;
  cursor: pointer;
}
