table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-date {
  width: 15%;
}

.mat-column-item {
  width: 60%;
}

.mat-column-isComplete {
  width: 10%;
}

.mat-column-action {
  width: 15%;
}

.search-icon {
  color: #737377;
  font-size: 100%;
  margin-right: 10px;
  vertical-align: sub;
}

.mat-color {
  color: #673ab7;
  border: 2px solid;
  border-radius: 50px;
}
