table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.search-icon {
  color: #737377;
  font-size: 100%;
  margin-right: 10px;
  vertical-align: sub;
}
